<!-- Responsive navbar-->
<div id="banner" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/carousel1.png" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="./assets/carousel2.png" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="./assets/carousel3.png" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="./assets/carousel4.png" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#banner"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#banner"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="./index"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contributors">Contributors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./look_inside">Look Inside</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./cut">Cutting Tools</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://7eb01415.sibforms.com/serve/MUIEANSIBpHX1ebcwI6sCz6rKT9E1gYsq_cQlSr3TuGbDsV6aAx9lsp3YKU_mGdYu5viKpe-80RPz4vZb7py3hn5xhN8g-DozWbOvHR4GHv0_Ua_qYVpyKUKEytxSl_be1APkglNZ0ctaK5baVWx7Pvu5tw0DzrT-sLpBDt7cA00oiopekJzDTkyuxVEvLQP5pT-6Wo9j4V_ZTSq"
            target="_blank"
            >Subscribe to our newsletter</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.twitter.com/cuttingplays"
            ><img
              src="./assets/twitter_icon.png"
              alt="Follow us on twitter"
              height="25px"
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/cuttingplays"
            ><img
              src="./assets/instagram_icon.png"
              alt="Follow us on twitter"
              height="25px"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
